<?xml version="1.0" ?>
<model>
    <name>tricopter_lidar</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Lachlan Orr</name>
        <email>lachlan.orr@empa.ch</email>
    </author>
    <description>Model of coaxial tricopter with manipulator + lidar!</description>
</model>
